<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Sinatra Application</title>
    <style type="text/css">
      body {
        background-color: pink;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
