<a href='/'>Home</a>
<form action="/robots" method="post">
  <p>Enter Name:</p>
  <input type="text" name="robot[name]">
  <p>Enter City:</p>
  <input type="text" name="robot[city]">
  <p>Enter State:</p>
  <input type="text" name="robot[state]">
  <p>Enter Birthdate:</p>
  <input type="text" name="robot[birthdate]">
  <p>Enter Date Hired:</p>
  <input type="text" name="robot[date_hired]">
  <p>Enter Department:</p>
  <input type="text" name="robot[department]">
  <p><input type="submit"></p>
</form>
